/app/scripts/coffee/Application.js
/app/scripts/coffee/Modals.js
/app/scripts/coffee/Task.js
/app/scripts/coffee/TodoList.js
/app/scripts/coffee/TodoManager.js
/app/scripts/coffee/addons/Lately.js
/app/scripts/coffeetable-min.js
/app/scripts/dropbox.min.js
/app/scripts/dropbox.min.js~
